<!DOCTYPE html>
<html lang="pt-BR">

  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Editar Grupo</title>
      <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
      <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
      <nav>
          <a href="/">Home</a>
          <a href="/grupos">Grupos</a>
      </nav>

      <div id="app"></div>

      <script>
          window.csrfToken = "<%= csrfToken %>";
          window.groupData = <%- JSON.stringify(group) %>;
      </script>
      <script src="/js/auth/grupos/grupos_editar.js"></script>
  </body>

</html>
