<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <% const base = '../../../partials'; %>
        <%- include(`${base}/head`, { title: 'Criar Usuário' }) %>
    </head>

    <body>
        <%- include(`${base}/header`) %>

        <main class="container">
            <div id="app"></div>

            <script>
                window.csrfToken = "<%= csrfToken %>";
            </script>
            <script src="/js/auth/usuarios/usuarios_novo.js"></script>
        </main>

        <%- include(`${base}/footer`) %>
    </body>

</html>