<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editar Usuário</title>
        <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/usuarios">Usuários</a>
        </nav>

        <div id="app"></div>
        
        <script>
            window.csrfToken = "<%= csrfToken %>";
            window.userData = <%- JSON.stringify(user || {}) %>;
        </script>
        <script src="/js/auth/usuarios/usuarios_editar.js"></script>
    </body>

</html>