<header>
    <nav>
        <% if (isAuthenticated) { %>
            <%- include('header_logged_in') %>
        <% } else { %>
            <%- include('header_logged_in') %>
        <% } %>
    </nav>
</header>