<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contato</title>
        <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
            <a href="/menu">Admin</a>
        </nav>
        <div id="app"></div>
        <script src="/js/contato.js"></script>
    </body>

</html>